/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: ClearSansLight, Helvetica, Arial, sans-serif;
  color: b; 
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #0166B1 white; /* Change the scrollbar color */
  scrollbar-width: thin; /* Change the scrollbar width */
  
  /* Page animation*/
  animation: fadeIn ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  color: rgb(85, 85, 85);
}


/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  justify-content: auto; /* Makes space between logo and links */
  align-items: center;
  height: 5vh; /* Adjusted height to make the nav bar thinner */
  padding: 0 1rem; /* Optional: Add padding to the sides */
  background-color: white; /* Ensure the background color is set */
  z-index: 1000; /* Ensure it stays on top of other elements */
  position: fixed; /* Ensure the nav bar stays fixed at the top of the page */
  width: 100%; /* Ensure the nav bar takes the full width of the page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the nav bar */
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #0166B1;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #0166B1;
  transform: scale(1.1); /* Slightly increase the size of the icon on hover */
  transition: transform 0.5s ease, filter 0.5s ease, border 0.3s ease; /* Smooth transition for all effects */
}


.nav-links a {
  display: inline-block; /* Ensure transform works on inline elements */
  transition: transform 0.3s ease, color 0.3s ease, text-decoration-color 0.3s ease; /* Smooth transition for all effects */  
}

/* Navigation bar when hovering over links. Color change + underline */
.nav-links a:hover {
  color: #0166B1;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #0166B1;
  transform: scale(1.1); /* Slightly increase the size of the icon on hover */
}

.nav-links a.active {
  color: #0166B1; /* Change to your desired color */
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #0166B1;
  transform: scale(1.1); /* Slightly increase the size of the icon on hover */
}

.logo:hover {
  cursor: default; 
}


/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1.2rem;
  }
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  height: 5vh; /* Adjusted height to make the nav bar thinner */
  justify-content: left; /* Center the button horizontally */
  align-items: center;
  background-color: white; /* Ensure the background color is set */
  z-index: 1000; /* Ensure it stays on top of other elements */
  position: fixed; /* Ensure the nav bar stays fixed at the top of the page */
  width: 100%; /* Ensure the nav bar takes the full width of the page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the nav bar */
}

.hamburger-menu {
  position: relative;
  align-items: center;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 0 3rem; /* Optional: Add padding to the sides */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  /*color of hamburger button*/
  background-color: black;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  display: block;
}

.hamburger-icon:hover {
  transform: scale(1.2); /* Slightly increase the size of the icon on hover */
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 165%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the nav bar */
  z-index: 1000; /* Ensure it stays on top of other elements */
  border-radius: 1rem;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Hamburger Menu when hovering over links. Color change + underline */
.menu-links a:hover {
  color: #0166B1;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #0166B1;
  transform: scale(1.1); /* Slightly increase the size of the icon on hover */
  transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease; /* Smooth transition for all effects */
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}


/* Hello, I'm */
.section__text__p1 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(85, 85, 85);
}

/* Student | Computer Science */
.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(85, 85, 85);
}

.title {
  font-size: 5rem; 
  text-align: center;
  color: black;
  transition: all 0.3s ease; /* Smooth transition for all effects */
}

.title:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
}

/* SOCIALS */
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.icon:hover {
  transform: scale(1.1); /* Slightly increase the size of the icon on hover */
  transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease; /* Smooth transition for all effects */
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

/* button 1 and 2 border color */
.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: black;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  transform: scale(1.05); /* Slightly increase the size of the icon on hover */
  transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease; /* Smooth transition for all effects */
}

.btn-color-1{
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: #0166B1;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  background: #0166B1;
  color: black;
  
}

.btn-color-2:hover {
  border: #0166B1 0.1rem solid;
  border: black 0.1rem solid;
  color: white
}
  

.btn-container {
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}


/* BUTTON STYLES */
.btn {
  padding: 0.5rem 2rem; /* Adjust padding to make the button smaller */
  font-size: 0.875rem; /* Adjust font size to make the text smaller */
  width: 9rem; /* Ensure the width is auto to fit the content */
  height: 4rem; /* Ensure the height is auto to fit the content */
  border-radius: 1rem; /* Optional: Adjust border radius */
  box-shadow: inset 0 0 0 0.1rem black; /* Optional: Add a border to the button */
}





/* ABOUT SECTION */

#about {
  position: center;
  padding-top: 20vh;
  scroll-margin-top: -13vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

.about-containers,
.about-details-container {
  display: flex;
  position: center;
  font-size: 1.3rem;
  color: black;
  gap: 2rem;
}

.about-details-container {
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: black 0.1rem solid;
  border-color: black;
  text-align: center;
  position: center;
}

.about-text {
  font-size: larger;
  border: black 0.1rem solid;
  border-radius: 2rem;
  padding: 2rem;
  background: white;
  color: black;
  text-align: center;
  position: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.image-grid {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line if they don't fit */
  gap: 20px; /* Space between the items */
  margin: 20px 0;
  justify-content: center; /* Center the items horizontally */
}

.grid-item {
  width: 18%; /* Each item takes 18% of the container's width to fit 5 items */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the text */
}

.grid-item img {
  width: 85%; /* Image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 20px; /* Optional: Add a border radius */
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .grid-item {
    width: 45%; /* Adjust width for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    width: 100%; /* Adjust width for small screens */
  }
}


/* EXPERIENCE SECTION */

#experience {
  position: relative;
  padding-top: 10vh; /* Adjust this value as needed */
  scroll-margin-top: 0vh; /* Ensure the section is correctly positioned when navigated to */
}

.experience-sub-title {
  color: black;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

.article-container {
  display: flex;
  text-align: initial;
  font-size: large;
  flex-wrap: wrap;
  color: black;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: left
}

article .icon {
  cursor: default;
}

  
/* PROJECTS SECTION */

#projects {
  position: relative;
  padding-top: 20vh; /* Adjust this value as needed */
  scroll-margin-top: 17vh; /* Ensure the section is correctly positioned when navigated to */
}

.color-container {
  border-color: black;
  background: white;
}

.project-img {
  border-radius: 1rem;
  width: 50%;
  height: 7%;
}

/* Project title inside box */
.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: black;
  background: white;
}

.btn-container {
  margin-top: 1rem; /* Add margin to create space between text and buttons */
  margin-bottom: 1rem; /* Add margin to create space between text and buttons */
  display: flex;
  gap: 0.5rem; /* Add space between buttons */
  justify-content: center; /* Center the buttons */
}

/* Grid layout for projects */

#projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  gap: 1rem;                   /* Reduce gap between rows */
  padding: 1rem;
  background-color: white;               /* Set the grid background to white */
  border-radius: 1rem;                   /* Optional: Add a border radius */
  border: 1px solid white;               /* Optional: Add a border */
  margin: 0 auto;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.projects-item {
  background-color: white;
  text-align: center;
  border: 1px solid white;
}



/* Responsive layout for projects */
@media screen and (max-width: 1700px) {
  #projects {
    grid-template-columns: repeat(3, 1fr); /* 2 columns for larger screens */
    gap: 1rem; /* Increase space between items */
  }
}

/* Responsive layout for projects */
@media screen and (max-width: 1200px) {
  #projects {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for large screens */
    gap: 1rem; /* Increase space between items */
  }
}

@media screen and (max-width: 1024px) {
  #projects {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    gap: 1.5rem; /* Increase space between items */
  }
}

@media screen and (max-width: 768px) {
  #projects {
    grid-template-columns: 1fr; /* 1 column for smaller screens */
    gap: 2rem; /* Increase space between items */
  }
}

/* CONTACT */

#contact {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: black 0.1rem solid;
  border-color: black;
  background: (250, 250, 250);
  margin: 3rem  auto;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border: black 0.1rem solid;
  border-color: black;
  background: white;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  margin: 0 1rem;
  padding-top: 15vh;
}

footer p {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

